@page "{articleId:int}"
@model MyBlog.Pages.Admin.EditArticleModel
@{
    Layout = "Shared/_AdminLayout.cshtml";
}
<br />
<h1>Редактирование статьи @Model.Article.Header</h1>
<br />

@foreach (var block in Model.ContentBlocks)
{
    <br /> 
    <hr />
    <div class="row align-items-start">
        <div class="col-1 align-self-center">
            <div>
                <form method="post" asp-page-handler="Up">
                    <button class="row">Вверх</button>
                </form>
                <form method="post" asp-page-handler="Down">
                    <button class="row">Вниз</button>
                </form>
            </div>
        </div>
        <div class="col">
            @if (block.ContentType == Data.EntityModels.ContentType.Text)
            {
                <p>@block.Content</p>
            }
            else if (block.ContentType == Data.EntityModels.ContentType.Subtitle)
            {
                <h3>@block.Content</h3>
            }
            else if (block.ContentType == Data.EntityModels.ContentType.Image)
            {
                <img src="@block.Content" />
            }
            else if (block.ContentType == Data.EntityModels.ContentType.Code)
            {
                <pre>
                    <code data-language="csharp">@block.Content</code>
                </pre>
            }
        </div>
        <div class="col-2 align-self-center text-end">
            <a asp-page="EditBlock" asp-route-blockId="@block.Id">Редактировать блок</a>
        </div>
        <div class="col-2 align-self-center text-end">
            <form method="post" asp-page-handler="Delete">
                <button class="btn btn-danger">Удалить</button>
            </form>
        </div>

    </div>
}