@page "/article/{id:int}"
@model MyBlog.Pages.ArticlePageModel
@{
    if (Model.IsSelected != null)
    {
        <form method="post" asp-route-id="@Model.Article.Id"
                            asp-route-isSelected="@Model.IsSelected">
            @if(Model.IsSelected == true)
            {
                <button type="submit">Убрать из избранных</button>
            }
            else if(Model.IsSelected == false){
                <button type="submit">В избранное</button>
            }
        </form>
    }
    foreach(var block in Model.Blocks)
    {
        if(block.ContentType == Data.EntityModels.ContentType.Text)
        {
            <p>@block.Content</p>
        }
        else if (block.ContentType == Data.EntityModels.ContentType.Subtitle)
        {
            <h3>@block.Content</h3>
        }
        else if (block.ContentType == Data.EntityModels.ContentType.Image)
        {
            <img src="@block.Content"/>
        }
        else if (block.ContentType == Data.EntityModels.ContentType.Code)
        {
            <code>@block.Content</code>
        }
    }
}
